@import "tailwindcss";

/* Palette personnalisée */
:root {
  --background: #f6f8fa;
  --foreground: #1a2233;
  --primary: #0a3d91;
  --primary-dark: #072e6c;
  --accent: #2ec4b6;
  --success: #38b000;
  --warning: #ffb700;
  --danger: #e63946;
  --note-bg: #eaf0fb;
  --note-card: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181c24;
    --foreground: #ededed;
    --primary: #0a3d91;
    --primary-dark: #072e6c;
    --accent: #2ec4b6;
    --success: #38b000;
    --warning: #ffb700;
    --danger: #e63946;
    --note-bg: #1a2233;
    --note-card: #232a3b;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
    overflow: hidden;
}